:root {
    //color
    --black-color: #000; 
    --white-color: #FFF;
    --light-grey-color: #F2F2F2;
    --middle-grey-color: #E0E0E0;
    --dark-grey-color: #8E8E93;
    --blue-color: #007AFF;
    --middle-blue-color: #479cf8;
    --light-blue-color: #9ac5f2;
    --silver-color: #A3A3A3;
    --dark-color: rgba(0, 0, 0, 0.1–0.3);
    --light-color: rgba(255, 255, 255, 0.1–0.2);
    --background-grey-color: #a3a3a3c2;

    //shadow
    --box-shadow-primary: 0 4px 10px 4px #13232f;
    --box-shadow-secondary: 0 4px 40px rgba(0, 0, 0, 0.1);


    //fonts
    

    //font-size
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px; // navbar, regular text
    --font-size-18: 18px; // header, card label, product timer, accordion description
    --font-size-20: 20px;
    --font-size-22: 22px; //crossed price,
    --font-size-24: 24px; // header logo, card header, product timer number, accordion header
    --font-size-26: 26px; // price, rating
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-36: 36px;
    --font-size-47: 47px;
    --font-size-48: 48px; // main timer
    --font-size-58: 58px;
    --font-size-64: 64px;


    //border-radius
    --border-radius-7: 7px;
    --border-radius-12: 12px;
    --border-radius-15: 15px;
    --border-radius-24: 24px;
    --border-radius-50: 50px; //button, input
    --border-radius-date: 16px 16px 0px 0px; //news&blog
    --border-radius-170: 170px;
    --border-radius-circle: 50%;

    //border
    --border-input: 1px solid var(--silver-color);

    //gap
    
    --gap-8: 8px; 
    --gap-10: 10px; 
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-22: 22px;
    --gap-26: 26px;
    --gap-30: 30px;
    --gap-32: 32px;
    --gap-36: 36px;
    --gap-48: 48px;
    --gap-64: 64px;
    --gap-75: 75px; 
    --gap-125: 125px;


    //opacity 
    --opacity-01: 0.1;
    --opacity-02: 0.2;
    --opacity-05: 0.5;
    --opacity-04: 0.4;
    --opacity-06: 0.6;
    --opacity-08: 0.8;

    //filter 
    --blur-7: 7px;
    --blur-11: 11px;
    --blur-28: 28px;
} 

