.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    height: 100vh;
}

.container > div {
    flex: 1;
}

.container img {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}

.container h1 {
    margin-bottom: 40px;
}
