.homeworkContainer {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s;
}
.homeworkContainer:hover {
    background-color: #efefef;
}

.title {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.comments {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}

.link {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.link:hover {
    text-decoration: underline;
    color: #A3A3A3;
}