.input div {
    margin-bottom: 15px;
}

.button {
    width: 100%;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1;
    border: none;
    background-color: #A3A3A3;
    cursor: pointer;
}

.button:hover {
    background-color: #a3a3a3c2;
}

.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(217, 217, 217, 1);
    max-width: 500px;
    margin: auto;
}

.buttonClosed {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.buttonClosed::after,
.buttonClosed::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}

.buttonClosed::before {
    transform: rotate(-45deg);
}

.buttonRegistration {
    width: fit-content;
}

.buttonWrapper {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.buttonWrapper button {
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
}

.buttonWrapper button:last-of-type {
    background-color: #007AFF;
}

.text {
    margin-bottom: 20px;
}
