.footer {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 12px;
    text-align: start;
    color: #F5F5F5;
}
