ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
}



.container {
    margin: 0 30px 0 30px;
}


.footer {
    background-color: #fff;
}

.footer__title {
    display: flex;
    align-items: center;
    margin: 0 0 15px 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.link__title {
    text-decoration: none;
    color: #333;
}

.link__title:hover {
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

.footer__container {
    padding-bottom: 15px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-bottom: #999 1px solid;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    max-width: 200px;
}

.footer__list__title {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.footer__list__item {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.footer__about {
    font-size: 14px;
    text-align: left;
    max-width: 200px;
}

.footer__time__work {
    font-size: 14px;
    text-align: left;
    max-width: 200px;
}

.footer__contacts {
    font-size: 14px;
    text-align: left;
    max-width: 200px;
}

.footer__copyright {
    font-size: 12px;
    text-align: start;
    color: #999;
}

.footer__list__link:hover {
    color: #A3A3A3;
    text-decoration: underline;
}

.footer__list__link:active {
    color: #A3A3A3;
    text-decoration: underline;
}

.footer__list__link:focus {
    color: #444444;
    text-decoration: underline;
}