* {
    box-sizing: border-box;
}

.login {
    width: 90%;
    max-width: 1680px;
    display: grid;
    grid-template-columns: minmax(420px, 1fr) minmax(50%, 1088px);
    gap: 150px;
    align-items: center;
    margin: auto;
}

.login > img {
    width: 100%;
    height: auto;
}