* {
    box-sizing: border-box;
}
  
.Login {
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 7px;
    background-color: var(--main-bg-color);
    box-shadow:0 4px 10px 4px #13232f;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
/* a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: #fff 
} */

.switch_list {
    /* text-align: center; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.switch-item {
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #007AFF;
    padding: 10px 15px;
    width: 100%;
    transition: background-color .2s;
    cursor: pointer;
    border-radius: 5px;
}

.naming-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.input {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px 10px;
    width: 100%;
    transition: border-color .3;
    color: black;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-self: center;
    transition: background-color .2s;
}

.display {
    display: none;
}

.forgot-password {
    color: #007aff;
    text-decoration: none; 
    margin-left: 10px;
    cursor: pointer;
}