.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: #363434;
}

.menu {
    display: flex;
    align-items: center;
}

.button {
    padding: 0.5rem 1rem;
    background-color: #A3A3A3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #a3a3a3c2;
}