.card {
  color: #000;
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s;
}
.card:hover {
  background-color: #efefef;
}

.cardName {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: underline;
  color: #A3A3A3;
}

.container {
  margin-bottom: 20px;
}
.container:nth-last-child(1) {
  margin: 0;
}

.lessonNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.typeWrapper {
  display: flex;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px #000 solid;
  border-radius: 50%;
  margin-right: 5px;
}

.lessonType {
  /* font-weight: bold; */
  font-size: 14px;
  padding: 0 10px 0 5px;
  border-radius: 5px;
  /* margin-bottom: 5px; */
}

.name {
  font-weight: bold;
  font-size: 16px;
}

.teacher {
  font-size: 14px;
}

.location {
  font-size: 14px;
}

.group {
  font-size: 14px;
}