@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as media;

.main {
    @include mixin.section-style;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    height: calc(100vh - 300px);

    @include media.tablet-m {
        height: calc(100vh - 200px);
    }
}

.container > div {
    flex: 1;
}

.container img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.container h1 {
    margin-bottom: 40px;

    @include media.tablet-m {
        font-size: var(--font-size-m);
    }
}
