.xs {
    font-size: 16px;
}

.sm {
    font-style: 18;
}

.md {
    font-style: 24px;
}

.lg {
    font-style: 26px;
}

.primary {
    padding: 0.5rem 1rem;
    background-color: #A3A3A3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.primary:hover {
    background-color: #a3a3a3c2;
}

.primary:disabled {
    background-color: #c3bfbfc2;
    cursor: auto;
}

.primary:disabled:hover {
    background-color: #c3bfbfc2;
    cursor: auto;
}

.secondary {
    padding: 0.5rem 1rem;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.secondary:hover {
    background-color: #479cf8;
}

.secondary:disabled {
    background-color: #9ac5f2;
    color: #000;
    cursor: auto;
}

.secondary:disabled:hover {
    background-color: #9ac5f2;
    color: #000;
    cursor: auto;
}

