.App {
  display: grid;
  grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  grid-gap: 50px;
}

.header {
  grid-area: header;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}